$black: #000;
$white: #fff;

$purple-50: #fcfaff;
$purple-100: #f6edfa;
$purple-200: #f1defa;
$purple-300: #d9bae8;
$purple-400: #b17acc;
$purple-450: #7510F7;
$purple-500: #8a4baf;
$purple-600: #663399;
$purple-700: #542c85;
$purple-800: #452475;
$purple-900: #362066;

$orange-50: #fffcf7;
$orange-50: #fffcf7;
$orange-100: #fff4db;
$orange-200: #ffedbf;
$orange-300: #ffe4a1;
$orange-400: #ffd280;
$orange-500: #ffb238;
$orange-600: #fb8400;
$orange-700: #f67300;
$orange-800: #e65800;
$orange-900: #db3a00;

$magenta-50: #fffafd;
$magenta-100: #ffe6f6;
$magenta-200: #f2c4e3;
$magenta-300: #e899ce;
$magenta-400: #d459ab;
$magenta-500: #bc027f;
$magenta-600: #a6026a;
$magenta-700: #940159;
$magenta-800: #7d0e59;
$magenta-900: #690147;

$blue-50: #f5fcff;
$blue-100: #dbf0ff;
$blue-200: #90cdf9;
$blue-300: #63b8f6;
$blue-400: #3fa9f5;
$blue-500: #0d96f2;
$blue-600: #0e8de6;
$blue-700: #047bd3;
$blue-800: #006ac1;
$blue-900: #004ca3;

$teal-50: #f7ffff;
$teal-100: #dcfffd;
$teal-200: #ccfffc;
$teal-300: #a6fffa;
$teal-400: #73fff7;
$teal-500: #05f7f4;
$teal-600: #2de3da;
$teal-700: #00bdb6;
$teal-800: #10a39e;
$teal-900: #008577;

$yellow-50: #fffafa;
$yellow-100: #fde7e7;
$yellow-200: #ffbab8;
$yellow-300: #ff8885;
$yellow-400: #ff5a54;
$yellow-500: #fa2915;
$yellow-600: #ec1818;
$yellow-700: #da0013;
$yellow-800: #ce0009;
$yellow-900: #b80000;

$green-50: #f7fdf7;
$green-100: #def5dc;
$green-200: #a1da9e;
$green-300: #79cd75;
$green-400: #59c156;
$green-500: #37b635;
$green-600: #2ca72c;
$green-700: #1d9520;
$green-800: #088413;
$green-900: #006500;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

