@use '../utilities/variables' as *;

.nav {
  background-color:$gray-200;
  padding-left: 50px;
  width: 14rem;
  height: 100vh;
  position: fixed;
  & .logo {
    padding-top: 2rem;
    margin-left: -30px;
    display: flex;
    align-items: baseline;
    color: $gray-900;
    &-img {
      width: 120px;
    }
  }
  & ul {
    & li {
      margin: 2.7rem 0px;
      list-style: none;
      & a {
        color: $gray-600;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.2rem;
        & i {
          margin-right: 10px;
        }
        &:hover {
          color: $gray-900;
          & i {
            color: red;
          }
        }
      }
    }
  }
  & .class-img {
    width: 17rem;
    left: 0;
    position: absolute;
    bottom: 0rem;
  }
}